<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<appender name="TimerReviewReportAppender" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/.timer-review/logs/report.txt</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned by default the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/.timer-review/logs/timer-review.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.hibernate" level="ERROR" appender="FILE" />
	
	<logger name="zxmax.tools.timerreview" level="info" appender="FILE" />
	
	<logger name="TimerReviewReportLogger" level="INFO" >
		<appender-ref ref="TimerReviewReportAppender" />
	</logger>

	
	<root level="warn">
		<appender-ref ref="FILE" />
	</root>
</configuration>